:root {
    --max-width: 600px;
}

body {
    max-width: var(--max-width);
    margin: auto;
}

img {
    width: var(--max-width);
    height: auto;
}

h1, h2 {
    text-align: center;
    background-color: black;
    color: white;
}
